.topo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 25, 25);
  height: 130px;
  box-shadow: 1px 1px 3px black;
}
.imagemTopo {
  width: 9%;
}
.container {
  margin: 0 auto;
  width: 70%;
  border-radius: 10px;
  height: 200px;
  border: 1px dashed gray;
  margin-top: 70px;
}
h2 {
  text-align: center;
  width: 20%;
  margin: 0 auto;
  margin-top: 40px;
  color: gray;
  font-size: 1.2em;
}
.button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 45%;
  height: 100px;
}
.botaoQuiz {
  color: rgb(255, 25, 25);
  text-decoration: none;
  border: 2px dashed rgb(255, 25, 25);
  margin: 0 auto;
  margin-top: 20px;
  height: 40px;
  width: 30%;
  border-radius: 20px;
  font-size: 1.4em;
}
p {
  margin-top: 8px;
}
@media screen and (max-width: 768px) {
  .imagemTopo {
    width: 30%;
  }
  .botaoQuiz {
    font-size: 1em;
    width: 70%;
    margin-top: 0;
  }
  .button {
    width: 50%;
  }
  h2 {
    font-size: 1em;
    width: 50%;
  }
}
.conteudo {
  margin-left: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  width: 70%;
}
.imagemConteudo1 {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  height: 200px;
  width: 99.5%;
}
.texto {
  text-decoration: none;
  color: #fff;

  width: 100%;
  margin-top: 160px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 {
  background-image: url(../assets/DB4B6E0B-ECCD-4BEB-81A7-8DEAB8C54E0C.jpeg);
  cursor: pointer;
}
.card2 {
  background-image: url(../assets/_108591426_fc85b32f-ccac-4cd9-b5ac-766a37b3e5c0.jpg);
  cursor: pointer;
}
h1 {
  margin-left: 15%;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media screen and (max-width: 768px) {
  .conteudo {
    grid-template-columns: repeat(1, 1fr);
  }
}
